<h3>{{scene.name}}</h3>
<p>{{{scene.text}}}</p>
{{#if scene.prize}}
    <p>The prize for winning is: <strong>{{{scene.prize}}}</strong></p>
{{/if}}
<button {{action 'enterBattle'}} class="btn btn-large btn-success btn-block">Let's fukkin do this!!!!!</button>
