<h2>HEY BROTHER! IT'S TIME TO GET YOUR BABY SWOLE!!!!</h2>
<p>HEY MAN do you have what it takes to be the BEST GOD DAMN PERSONAL BABY TRAINER in THE WORLD?</p>
<p>Don't just stare at the screen FUCKIN YELL IT MAN</p>
<p>SHOUT IT OUT LOUD</p>
<p>ACTUALLY SAY IT THO</p>
<p>...</p>
<h3>YOU'RE GOD DAMNED RIGHT</h3>
<p>Let me introduce myself. I'm <strong>MILK BROGAIN</strong>. 5 Time baby fighting champion turned personal trainer
    turned reality tv star. I'm here to take you on the journey of being a <strong>personal baby trainer.</strong> Now
    come on man it's time to meet your baby.</p>
<br/>
<div class="text-center">
    {{#link-to 'welcome.diet' class="btn btn-primary btn-lg"}}
        Meet the baby
    {{/link-to}}
</div>
