<h3>YEAHHHHHH</h3>
<p>SICK MOVES! {{model.name}} just blew my FUCKIN mind man! {{model.s_he}} has a long way to go but with hard work,
    dedication, and a little help from rhinocerous growth hormone, {{model.s_he}} will be winning <strong>International
        Federation of Swole Baby</strong> tournaments in no time!</p>
<p>Alright bro, you're on your own. This is your chance to prove you have what it takes to be the world's best personal
    baby trainer ever!!!!</p>
<br/><br/>
<button class="btn btn-lg btn-block btn-success" {{action 'finish'}}>GET THAT BABY SWOLE</button>
