.page-height {
    min-height: 100vh;
}

.numberBounce {
    position: absolute;
    font-size:30pt;
    opacity: 1;
    pointer-events: none;
}

.descBounce {
    position: absolute;
    font-size:24pt;
    opacity: 1;
    font-style: italic;
    pointer-events: none;
}