.page-height {
    min-height: 100vh;
}

.numberBounce {
    position: absolute;
    font-size: 25pt;
    opacity: 1;
    pointer-events: none;
    font-family: 'Impact';
    color: black;

}

.descBounce {
    position: absolute;
    font-size: 20pt;
    opacity: 1;
    font-style: italic;
    pointer-events: none;
    font-family: Impact;
}

.fatigue-bar {
    margin-bottom: 2px;
}

.attack-btn {
    font-size: 14pt;
    font-weight: bold;
    height: 60px;
    white-space: normal;
}

.invisible {
    opacity: 0;
}
