<br/>
<div class="col-xs-2">
</div>
<div class="col-xs-8">
    <h3>
        <u>Baby</u>
    </h3>
    Name: <strong>{{model.baby.name}}</strong><br/>
    Rank: <strong>{{model.baby.rankName}}</strong><br/>
    {{partial 'statbars'}}
</div>
<div class="col-xs-2">
</div>
