<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 bg-primary">
            <h1>
                Get Yo' Baby Swole!!!!
                <div class="pull-right" {{action 'toggleSound'}}>
                    {{#if sound_muted}}
                        <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
                    {{else}}
                        <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>
                    {{/if}}
                </div>
            </h1>
            <br/>
        </div>
    </div>
    <div class="row p-10">
        <div class="col-xs-3 page-height bg-info">
            {{#if model.showInfo}}
                {{partial 'infobar'}}
            {{/if}}
        </div>
        <div class="col-xs-9">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    {{outlet}}
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
    </div>
</div>
